body {
    font-family: verdana, sans-serif;
    color: #333;
}

.artist-form {
    box-sizing: border-box;
    padding: 10px;
    width: 600px;
    background-color: #ccc;
    border-radius: 4px;
}

.artist-form input {
    box-sizing: border-box;
    width: 100%;
}

.search-results {
    margin-top: 20px;
}

.search-results table {
    width: 600px;
    border-collapse: collapse;
    text-align: left;
}

.search-results table th {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.search-results table td {
    height: 60px;
    border-width: 0; border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.search-results table th:nth-child(2),
.search-results table td:nth-child(2) {
    width: 160px;
}
.search-results table td:nth-child(2) img {
    max-width: 100%; max-height: 100%;
}

.search-results table th:nth-child(3),
.search-results table td:nth-child(3) {
    width: 100px;
    text-align: center;
}
.search-results table td:nth-child(3) .save-button {
    display: inline-block;
    padding: 0 14px;
    height: 24px;
    background-color: #1b79cc;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
}